@import '../../../styles/components/variables';

.label {
	display: inline;
	padding: .3rem .6rem;

	background: $black-transparent;
	border-radius: .25rem;
	cursor: pointer;

	transition: background .2s ease;

	&:hover {
		background: $black;
	}
}

.input {
	display: none;
}
