.container {
	width: 100%;
	min-height: inherit;
	max-width: 1185px;

	margin: 0 auto;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media ( max-height: 699px ) {
		justify-content: unset;
	}
}
