@import '../../../styles/components/variables';

.block {
	width: 100%;
	max-width: 75px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.text {
	font-family: $sport-font;
	text-align: center;
	text-transform: uppercase;
}

.btn {
	width: 30px;
	height: 30px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border: 1px solid $font-color;
	border-radius: 4px;
	
	margin-bottom: .5rem;
	margin-top: .5rem;
	
	color: $font-color;
	
	font-family: $secondary-font;

	transition: box-shadow .1s linear;

	&:hover {
		box-shadow: 0 0 .5rem white;
	}
}