@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@font-face {
	font-family: 'Spantaran';
	src: url('../../assets/fonts/Spantaran/Spantaran.woff') format('woff'),
			 url('../../assets/fonts/Spantaran/Spantaran.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
