@import '../../styles/components/variables';

.form {
	padding: 1rem;
	background: $light-black;
	border-radius: .5rem 1rem;
}

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: .5rem;

	&_marg {
		margin: .7rem 0;
	}
}

.btns {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	gap: .5rem;
}