.header {
	width: 100%;
	max-height: 60px;

	&__wrapper {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 0.5rem 1rem;
	}

	&__inner {
		display: flex;
	}

	&__btns {
		display: flex;
		gap: 0.5rem;
	}
}
