@import '../../styles/components/variables';

.view-password-btn {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 0.4rem;

	cursor: pointer;
	padding: 2px;

	display: flex;
	align-items: center;

	transition: border-color 0.2s ease;

	&:focus,
	&:hover {
		border-color: $font-color;
	}
}

.icon {
	width: 25px;
	height: 25px;
	&_marg {
		margin-right: 0.8rem;
	}
}

.eye {
	width: 20px;
	height: 20px;
}

.inner {
	width: 100%;
	display: flex;
}

.wrap {
	width: 100%;
	display: flex;

	background: transparent;
	border: 0;
	color: $font-color;

	transition: border-bottom-color 0.2s ease;
	&:focus {
		border-bottom-color: white;
	}
}

.input {
	width: 100%;
	background: transparent;
	border: 0;

	color: $font-color;

	padding: 0.5rem 0;

	border-bottom: 1px solid rgba(white, 0.3);

	transition: border-bottom-color 0.2s ease;
	&:focus {
		border-color: $font-color;
	}
}
