@import './components/reset';
@import './components/fonts';
@import './components/variables';

@import './cssTransitionAnimation';
@import './simpleBar';

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 16px;

	@media (max-height: 906px) {
		font-size: 12px;
	}
}

body {
	font-family: $secondary-font;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2em;
	color: $font-color;

	background-color: $body-bg-color;

	overflow: hidden;
}
